/* this is navbar section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-link{
    display: flex;
    gap: 20px;
    list-style: none;    
}


.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-link a{
    text-decoration: none;
}


/* Share styles */
.display-flex{
    display: flex;
}

/* banner related info */

.banner-content{
    max-width: 450px;
    margin: 0px auto;
    text-align: center;
}
.banner-title{
    font-size: 2.8rem;
    font-weight: 900;
}

.btn-primary{
    background-color: #FF900E;
    border-radius: 5px;
    height: 32px;
    color: white;
    border: none;
}

.banner-img{
    margin-top: 15px;
    padding: 0px 200px 20px 200px;
    height: 450px;
    width: 950px;
}

.main{
    max-width: 1440px;
    margin: 0 auto;
}
.text-grey{
    color: #424242;
}
.bg-light{
    background-color: #f3f5e7;
}
.text-light-grey{
    
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0px;
}

/* This is features section */



/* team and feature related style */
.teams{
    margin-top: 30px;
    padding-left: 150px;
    align-items: center;
    gap: 50px;
    width: 1050px;
    margin-bottom: 50px;    
}

.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}
.team-img img{
    border: 2px solid grey;
    border-radius: 10px;
    width: 250px;
    width: 250px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
 #btn2{
    text-align: center;
    width: 110px;
    position: center;
    padding-top: 15px;
 }

/* responsive media query */
@media screen and (max-width: 576px){
    .navbar, .nav-link, teams{
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
}

/* medium size display */
@media screen and (min width: 576px) and (max-width: 992px){
    .teams{
        flex-direction: column;
    }
}

    

